@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
}

.rdrDateDisplayWrapper {
    display: none !important;
}

.rdrCalendarWrapper {
    background-color: #181826 !important; 
    font-size: 9px !important;
}

.rdrMonthAndYearPickers select,
.rdrDateDisplay,
.rdrMonth,
.rdrDateDisplayItem,
.rdrDayNumber span,
.rdrDayNumber span:active,
.rdrDayNumber span:hover,
.rdrDayNumber span:disabled {
  color: white !important; 
}

.customDatePickerWidth, 
.customDatePickerWidth > div.react-datepicker-wrapper, 
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
   width: 100%;
}